<%- include('../layouts/adminHeader.ejs') %>

    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Banner</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Basic</h4>
                    </div>
                    <div class="card-body">
                        <form action="/admin/bannerAdd" enctype="multipart/form-data" method="post">
                            <div class="mb-4">
                                <label for="bannerName" class="form-label">Banner Name</label>
                                <input type="text" placeholder="Banner Name" class="form-control" id="bannerName"
                                    name="bannerName" required />
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <textarea placeholder="Description" class="form-control" rows="4" id="bannerDescription"
                                    name="bannerDescription" required></textarea>
                            </div>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row gx-2">
                                        <div class="col-sm-6 mb-3">
                                            <label class="form-label">Field</label>
                                            <input type="text" placeholder="Field" class="form-control" id="bannerField"
                                                name="bannerField" required />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h4>Banner Image</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-upload">
                                            <input id="bannerImage" name="bannerImage" accept="image/*"
                                                class="form-control" type="file" multiple />
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-md rounded font-sm hover-up">Submit</button>
                                </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>
    <%- include('../layouts/adminFooter.ejs') %>