<footer class="footer">
  <div class="footer-area text-center text-md-left">
    <div class="container">
      <div class="row section_gap text-center">
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title">Our Mission</h4>
            <p>
              They look ordinary, they lace up just the same, but it's not the boots that matter, it's my soldier in
              the
              boots that means the world to me.
            </p>
            <p>
              We're more than just football boots. Love your Style, Love your Life. Unleash your speed.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title">Quick Links</h4>
            <ul class="list">
              <li><a href="/">Home</a></li>
              <li><a href="/shopPage">Shop</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title">Contact Us</h4>
            <div class="ml-40">
              <p class="sm-head">
                <span class="fa fa-location-arrow"></span>
                Head Office
              </p>
              <p>Kinfra, Calicut, Kerala</p>

              <p class="sm-head">
                <span class="fa fa-phone"></span>
                Phone Number
              </p>
              <p>
                +91-1234567 <br />
                +91-2345674
              </p>

              <p class="sm-head">
                <span class="fa fa-envelope"></span>
                Email
              </p>
              <p>
                dapperr@gmail.com <br />
                www.dapperr.shop
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <p class="footer-text">
            &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.3"
  integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>




</html>