<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DAPPE-R</title>
    <link rel="icon" href="img/Fevicon.png" type="image/png" />
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css" />
    <link rel="stylesheet" href="vendors/linericon/style.css" />
    <link
      rel="stylesheet"
      href="vendors/owl-carousel/owl.theme.default.min.css"
    />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/nice-select/nice-select.css" />
    <link rel="stylesheet" href="vendors/nouislider/nouislider.min.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
  </head>

  <body>
    <header class="header_area">
      <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a class="navbar-brand logo_h d-flex align-items-center" href="/">
              <img src="img/logo.png" width="60px" alt="logo" class="mr-2" />
              <h6 class="bg-beige text-white px-2 rounded"><b>DAPPE-R</b></h6>
            </a>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item submenu dropdown">
                  <a
                    href="/login"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Shop</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="/shopPage">Shop Category</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/login">Product Details</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/login">Product Checkout</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/login">Confirmation</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/cart">Shopping Cart</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Contact</a>
                </li>
              </ul>

              <ul class="nav-shop">
                <li class="nav-item">
                  <button><i class="ti-search"></i></button>
                </li>

                <% if(locals.session){ %>
                <li class="nav-item">
                  <a href="/cart">
                    <button>
                      <i class="ti-shopping-cart"></i
                      ><span
                        id="cartCount"
                        onchange="cartCount('<%= count %>')"
                        class="nav-shop__circle"
                      >
                        <%= count %>
                      </span>
                    </button></a
                  >
                </li>

                <li></li>
                <li class="nav-item">
                  <a href="/userprofile">
                    <button><i class="ti-user"></i></button>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/wishList">
                    <i class="ti-heart"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="button button-header" href="/logout">Logout</a>
                  <% } else{ %>
                  <a class="button button-header" href="/login">Login</a>
                  <% } %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <script>
      const cartCount = (cartCount) => {
        document.getElementById("cartCount").textContent = cartCount;
      };
    </script>
  </body>
</html>
