<%- include('../layouts/header.ejs') %>
<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand logo_h" href="index.html"
          ><img src="img/logo.png" alt=""
        /></a>
      </div>
    </nav>
  </div>
</header>
<section class="login_box_area section-margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login_box_img">
          <div class="hover">
            <h4>Already have an account?</h4>
            <p>
              There are advances being made in science and technology everyday,
              and a good example of this is the
            </p>
            <a class="button button-account" href="/login">Login Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login_form_inner register_form_inner">
          <h3>Create an account</h3>
          <% if(typeof message!=='undefined'){ %>
            <h6 class="text-danger"><%=message %></h6>
            <% } %>
          <form
            class="row login_form"
            action="/register"
            name="register_form"
            method="post"
            onsubmit="return validateform()"
          >
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                id="first_name"
                name="first_name"
                placeholder="First Name"
                required
              />
            </div>
            <div id="errorContainer1" class="text-danger"></div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                id="last_name"
                name="last_name"
                placeholder="Last Name"
                required
              />
            </div>
            <div id="errorContainer2" class="text-danger"></div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                placeholder="Email Address"
                required
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                id="phone_number"
                name="phone_number"
                placeholder="Phone Number"
                required
              />
            </div>
            <div id="errorContainer3" class="text-danger"></div>
            <div class="col-md-12 form-group">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
                required
              />
            </div>
            <div id="errorContainer4" class="text-danger"></div>
            <div class="col-md-12 form-group">
              <input
                type="password"
                class="form-control"
                id="confirm_password"
                name="confirm_password"
                placeholder="Confirm Password"
                required
              />
            </div>
            <div id="errorContainer5" class="text-danger"></div>
            <div class="col-md-12 form-group">
              <button
                type="submit"
                value="submit"
                class="button button-register w-100"
              >
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function validateform() {
    var first_name = document.forms["register_form"]["first_name"].value.trim();
    var last_name = document.forms["register_form"]["last_name"].value.trim();
    var phone_number =
      document.forms["register_form"]["phone_number"].value.trim();
    var email = document.forms["register_form"]["email"].value.trim();
    var password = document.forms["register_form"]["password"].value.trim();
    var confirm_password =
      document.forms["register_form"]["confirm_password"].value.trim();
    if (first_name == null || first_name == "") {
      document.getElementById("errorContainer1").innerHTML =
        "First Name must be filled out";
      return false;
    } else if (last_name == null || last_name == "") {
      document.getElementById("errorContainer2").innerHTML =
        "Last Name must be filled out";
		return false
    } else if (isNaN(phone_number)) {
      document.getElementById("errorContainer3").innerHTML = "Phone number should be a number";
	  return false
    } else if (password.length < 6) {
      document.getElementById("errorContainer4").innerHTML =
        "Password Must Contain 6 characters";
      return false;
    } else if (password != confirm_password) {
      document.getElementById("errorContainer5").innerHTML =
        "Confirm Password does not match your password";
      return false;
    } else {
      return true;
    }
  }
</script>
<%- include('../layouts/footer.ejs') %>
