<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Aroma</title>
    <link rel="icon" href="img/Fevicon.png" type="image/png" />
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css" />
    <link rel="stylesheet" href="vendors/linericon/style.css" />
    <link
      rel="stylesheet"
      href="vendors/owl-carousel/owl.theme.default.min.css"
    />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/nice-select/nice-select.css" />
    <link rel="stylesheet" href="vendors/nouislider/nouislider.min.css" />

    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div
      class="d-flex justify-content-center align-items-center container mt-5"
    >
      <div class="card py-5 px-3">
        <h5 class="m-0">OTP verification</h5>
        <span class="mobile-text mt-3"
          >Enter the code we have send on your
          <b class="text-primary">Email Address</b></span
        >
        <% if(typeof message!=='undefined'){ %>
        <p class="text-danger"><%=message %></p>
        <% } %>
        <div class="d-flex flex-row mt-5 form-group">
          <form action="/emailVerification" method="post">
            <input
              type="text"
              name="userVerificationId"
              value="<%= otp%>"
              hidden
            />
            <input class="form-control" type="text" name="otp" />
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
